
.env
.env.local
.env.production

.venv/
venv/
ENV/
env/
Hyperion/

restaurant_db/
.cache/
*.db
*.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp